<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="info-pane col-xs-4">
    <%= render "layouts/errors", :object => @day %>

    <%= form_for @day do |f| %>
      <br>
      <%= f.label :datefield, class: 'devise-labels' %>
      <br>
      <%= f.date_select :datefield, options = {order: [:day, :month, :year]}, class: "field" %>
      <br>
      <p id="add-day-buttons">
        <%= f.submit class: "btn btn-default field" %>
        <%= link_to "Back", days_path(@day), class: "btn btn-default field" %>
      </p>
    <% end %>
  </div>
</div>
