<h1><%= @day.weekday %></h1>

<ul class="list">
  <% @day.activities.each do |activity| %>
    <li><h4><div class="list_item">
      <%= activity.name %> |
      <%= link_to "This Activity", new_activity_tag_path(@day, activity) %> |
    </div></h4></li>
  <% end %>
</ul>

<div class="row">
  <div class="col-xl-2">
    <p><%= link_to "Add Activity", new_day_activity_path(@day), class: "btn btn-default field" %></p>
  </div>
  <div class="col-xl-2">
    <p><%= link_to "Back", day_path(@day), class: "btn btn-default field" %></p>
  </div>
  <div class="col-xl-2">
    <p><%= link_to "Delete", day_path(@day),
             :data => {:confirm => "You sure you want to remove this day from the log? This cannot be reversed.", :method => "delete"}, class: "btn btn-default field"  %></p>
  </div>
</div>

<h1>This is an old shitty route that will disappear soon! Check your path, man!</h1>
