<div class="col-md-6">
  <li><h4>
    <div class="list_item">
      <div class="switch_activity<%= activity.id %>" >
        <%= form_for [ day, activity ], remote: true do |f| %>
              <%= f.hidden_field :start_time, value: Time.now %>
              <%= f.hidden_field :end_time, value: "" %>
          <%= f.submit 'Start Time', class: "btn btn-default field", :data => { :method => 'patch'} %>
        <% end %>
      </div>

      <div class="switch_activity<%= activity.id %> end-button" >
        <%= form_for [ day, activity ], remote: true do |f| %>
              <%= f.hidden_field :start_time, value: "" %>
              <%= f.hidden_field :end_time, value: Time.now %>
          <%= f.submit 'End Time', class: "btn btn-default field", :data => { :method => 'patch'} %>
        <% end %>
      </div>
    </div>
  </h4></li>
</div>
