<%= render('layouts/errors', :object => @activity) %>


  <% if @day.activities.length < 24 %>
    <h5>There are <%= @day.activities.length %> activities currently logged.</h5>
    <%= form_for [@activity] do |f| %>
      <%= f.label :name %>




      <%= f.text_field :name %>


      <p><%= f.submit 'Set Activity Name', class: "btn btn-default field", :data => { :method => 'patch'} %></p>
    <% end %>
  <% end %>

  <%= link_to "Cancel", day_activity_path(@day, @activity),
           :data => { :method => "delete"}, class: "btn btn-default field"  %>
