<%= render('layouts/errors', :object => @activity) %>


<% if @day.activities.length < 24 %>
  <h5>There are <%= @day.activities.length %> activities accounted for.</h5>
  <%= form_for [@day, @activity] do |f| %>
    <%= f.label :activity %>

    <div id="drop_down">
      <%= f.select :activity, [['Please Choose an Activity','1'],['Sleep','2'],['Work','3'],['Eat','4']], id: 'drop_down', selected: 1 %>
    </div>




    <p><%= f.submit class: "btn btn-default field" %></p>
  <% end %>
<% else %>
  <h4>All activities in this day are accounted for!</h4>
  <h4>Alter an activity, or rethink your understanding of time.</h4>
<% end %>
<%= link_to "Back", days_path(@day), class: "btn btn-default field" %>
