 <h1 class="page-header"><%= @day.date %> - <%= @day.datefield.day %> / <%= @day.datefield.month %> / <%= @day.datefield.year %></h1>

<div class="list row">
  <% @activities.each do |activity| %>
    <div class="col-md-6">
      <li><h4><div class="list_item">

        <h4>Time Spent Hr:Min:Sec <p class="total_time<%= activity.id %>"><%= activity.return_time[0] %>:<%= activity.return_time[1] %>:<%= activity.return_time[2] %></p></h4>
        <%= render partial: "activitypanel", locals: { day: @day, activity: activity} %>

        <div class="timer-stopped off_indicator<%= activity.id %> pull-right">
          <h3 class="button-text" >OFF</h3>
        </div>
        <div class="timer-running on_indicator<%= activity.id %> pull-right">
          <h3 class="button-text" >ON</h3>
        </div>

      </div></h4>

    </li>
    </div>
  <% end %>
</div>
<hr>
<div class="row">
  <div class="col-sm-2">
    <p><%= link_to "Add Activity", new_day_activity_path(@day), class: "btn btn-default field" %></p>
  </div>
  <div class="col-sm-2">
    <p><%= link_to "Back", days_path(@day), class: "btn btn-default field" %></p>
  </div>
  <div class="col-sm-2">
    <p><%= link_to "Delete", day_path(@day),
             :data => {:confirm => "You sure you want to remove this day from the log? This cannot be reversed.", :method => "delete"}, class: "btn btn-default field"  %></p>
  </div>
</div>
