 <h1 class="page-header"><%= @day.date %></h1>

<div class="list row">
  <% @activities.each do |activity| %>
    <div class="col-md-6">
      <li><h4><div class="list_item">
        <%= activity.name %>

        <%= form_for [ @day, activity ] do |f| %>
              <% f.hidden_field :start_time, value: Time.now %>
          <%= f.submit 'Start Time', class: "btn btn-default field", :data => { :method => 'patch'} %>
        <% end %>
        <%= form_for [ @day, activity ] do |f| %>
              <% f.hidden_field :start_time, value: Time.now %>
          <%= f.submit 'End Time', class: "btn btn-default field", :data => { :method => 'patch'} %>
        <% end %>

      </div></h4></li>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-2">
    <p><%= link_to "Add Activity", new_day_activity_path(@day), class: "btn btn-default field" %></p>
  </div>
  <div class="col-sm-2">
    <p><%= link_to "Back", days_path(@day), class: "btn btn-default field" %></p>
  </div>
  <div class="col-sm-2">
    <p><%= link_to "Delete", day_path(@day),
             :data => {:confirm => "You sure you want to remove this day from the log? This cannot be reversed.", :method => "delete"}, class: "btn btn-default field"  %></p>
  </div>
</div>
