 <h1><%= @day.date %></h1>

<ul class="list">
  <% @day.activities.each do |activity| %>
    <li><h4><div class="list_item">
      <%= activity.activity %> |
      <%= link_to "This Activity", new_day_activity_path(@day, activity) %> |
      <% if activity.tags %>
        <%= activity.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      <% end %>
    </div></h4></li>
  <% end %>
</ul>

<div class="row">
  <div class="col-xl-2">
    <p><%= link_to "Add Activity", new_day_activity_path(@day), class: "btn btn-default field" %></p>
  </div>
  <div class="col-xl-2">
    <p><%= link_to "Back", days_path, class: "btn btn-default field" %></p>
  </div>
  <div class="col-xl-2">
    <p><%= link_to "Delete", day_path(@day),
             :data => {:confirm => "You sure you want to remove this day from the log? This cannot be reversed.", :method => "delete"}, class: "btn btn-default field"  %></p>
  </div>
</div>
