<!DOCTYPE html>
<html>
  <head>
    <title>CodeWatch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "CodeWatch", root_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav">

          <% if current_user %>
            <li><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "Log a Day", new_day_path %></li>
          <% else %>
            <li><%= link_to "Sign In", user_session_path, id: 'signin' %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>

        </ul>
        <% if current_user %>
          <div>
            <p class="navbar-text navbar-center nav_user">
              <%= flash[:success] %>
              <%= flash[:failure] %>
              <%= flash[:notice] %>
              <%= flash[:alert] %>
            </p>
          </div>
          <p class="navbar-text navbar-right nav_user">Signed in as <a href="#" class="navbar-link"><%= current_user.name %></a></p>
        <% else %>
          <p class="navbar-text navbar-right nav_user">Not Logged In</p>
        <% end %>
      </div>
    </nav>

    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10">
        <%= yield %>
      </div>
      <div class="col-xs-1">
      </div>
    </div>


  </body>
</html>
